In [1]:
import pandas as pd
import numpy as np
import psycopg2

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [2]:
# connection credentials
conn = psycopg2.connect(
    user = "postgres",
    password = "0A96jbvaDJk%",
    host = "database-cityspire-c.c2uishzxxikl.us-east-1.rds.amazonaws.com",
    port = "5432",
    database = "postgres"
)

sql = "SELECT * FROM master_jobs_table"

In [3]:
# get dataset from postgresql db
jobs_df = pd.read_sql(sql, conn)
jobs_df.head()

   index  ...                                            summary
0      0  ...  Whether it’s hiring for online work from home,...
1      1  ...  Experience refers to paid and unpaid experienc...
2      2  ...  The base pay for this role is $15.20/hr.Get fu...
3      3  ...  Ensure all customer transactions are processed...
4      4  ...  Operating the cash register in a fun and effic...

[5 rows x 6 columns]

In [9]:
jobs_df['title'][:10]

0                       Find jobs with Flexible Hours!
1    Local Hire (Customer Representative - Non-Medi...
2           Amazon Warehouse - Night Shifts, Full-time
3                               Bookseller - Part-Time
4                                                 Crew
5
6    Entry Level Management - Interview Today - Cus...
7                                        Office Helper
8               Forklift Operator (FT/Rotating Shifts)
9               Entry Level Clerk, downtown Albany, NY
Name: title, dtype: object

In [38]:
def get_available_jobs(city_state):
    cols = ['title','company','salary','summary']
    return jobs_df.loc[jobs_df['city_state'] == city_state, cols].head(10)

In [40]:
get_available_jobs('San Francisco, CA')

                                                    title  ...                                            summary
117967                     Find jobs with Flexible Hours!  ...  Whether it’s hiring for online work from home,...
117968    Tutor in San Francisco – All Subjects Available  ...  San Francisco families are in immediate need o...
117969                   Records Clerk- Fleet Maintenance  ...  Valid CA driver’s license and good driving rec...
117970                                                     ...  Employee discount of 40% off all organic fruit...
117971                      Self Driving Vehicle Operator  ...  Meets driver requirements, including driving r...
117972             Curatorial Assistant, Contemporary Art  ...  Reporting to the Curator of Contemporary Art, ...
117973                                            Cashier  ...  Free food (yes, really FREE).Tuition assistanc...
117974                                               Crew  ...  Ability to effectively multitask as needed, in...
117975  Temporary Accounts Receivable and Student Acco...  ...  4 year college degree required, Bachelor’s deg...
117976     Installation Technician - $5,000 Sign-On Bonus  ...  Possess a state driver’s license.Possess a sta...

[10 rows x 4 columns]