In [45]:
import pandas as pd
import numpy as np
import psycopg2

In [46]:
# connection credentials
conn = psycopg2.connect(
    user = "postgres",
    password = "0A96jbvaDJk%",
    host = "database-cityspire-c.c2uishzxxikl.us-east-1.rds.amazonaws.com",
    port = "5432",
    database = "postgres"
)

sql = "SELECT * FROM master_jobs_table"

In [47]:
# get dataset from postgresql db
jobs_df = pd.read_sql(sql, conn)
jobs_df.head()

   index  ...                                            summary
0      0  ...  Whether it’s hiring for online work from home,...
1      1  ...  Experience refers to paid and unpaid experienc...
2      2  ...  The base pay for this role is $15.20/hr.Get fu...
3      3  ...  Ensure all customer transactions are processed...
4      4  ...  Operating the cash register in a fun and effic...

[5 rows x 6 columns]

In [48]:
jobs_df['title'][:10]

0                       Find jobs with Flexible Hours!
1    Local Hire (Customer Representative - Non-Medi...
2           Amazon Warehouse - Night Shifts, Full-time
3                               Bookseller - Part-Time
4                                                 Crew
5
6    Entry Level Management - Interview Today - Cus...
7                                        Office Helper
8               Forklift Operator (FT/Rotating Shifts)
9               Entry Level Clerk, downtown Albany, NY
Name: title, dtype: object

In [49]:
def get_available_jobs(city_state):
    cols = ['title','company','salary','summary']
    avail_jobs = jobs_df.loc[jobs_df['city_state'] == city_state, cols].head(10)
    return avail_jobs

In [50]:
get_available_jobs('San Francisco, CA')

                                                    title  ...                                            summary
117967                     Find jobs with Flexible Hours!  ...  Whether it’s hiring for online work from home,...
117968    Tutor in San Francisco – All Subjects Available  ...  San Francisco families are in immediate need o...
117969                   Records Clerk- Fleet Maintenance  ...  Valid CA driver’s license and good driving rec...
117970                                                     ...  Employee discount of 40% off all organic fruit...
117971                      Self Driving Vehicle Operator  ...  Meets driver requirements, including driving r...
117972             Curatorial Assistant, Contemporary Art  ...  Reporting to the Curator of Contemporary Art, ...
117973                                            Cashier  ...  Free food (yes, really FREE).Tuition assistanc...
117974                                               Crew  ...  Ability to effectively multitask as needed, in...
117975  Temporary Accounts Receivable and Student Acco...  ...  4 year college degree required, Bachelor’s deg...
117976     Installation Technician - $5,000 Sign-On Bonus  ...  Possess a state driver’s license.Possess a sta...

[10 rows x 4 columns]

In [51]:
columns = ["index", "city_state", "title", "company", "salary", "summary"]
jobs_df['metadata'] = jobs_df[columns].to_dict(orient='records')
jobs_df['metadata'].head()

0    {'index': 0, 'city_state': 'Albany, NY', 'titl...
1    {'index': 1, 'city_state': 'Albany, NY', 'titl...
2    {'index': 2, 'city_state': 'Albany, NY', 'titl...
3    {'index': 3, 'city_state': 'Albany, NY', 'titl...
4    {'index': 4, 'city_state': 'Albany, NY', 'titl...
Name: metadata, dtype: object

In [52]:
def get_available_jobs_dict(city_state):
    cols = ['title','company','salary','summary', 'metadata']
    avail_jobs = jobs_df.loc[jobs_df['city_state'] == city_state, cols].head(10).to_dict(orient='records')
    return avail_jobs

In [53]:
get_available_jobs_dict('San Francisco, CA')

[{'company': 'Indeed Gigs',
  'metadata': {'city_state': 'San Francisco, CA',
   'company': 'Indeed Gigs',
   'index': 0,
   'salary': '',
   'summary': 'Whether it’s hiring for online work from home, part time, entry level or no experience jobs, you get to have flexible schedule!',
   'title': 'Find jobs with Flexible Hours!'},
  'salary': '',
  'summary': 'Whether it’s hiring for online work from home, part time, entry level or no experience jobs, you get to have flexible schedule!',
  'title': 'Find jobs with Flexible Hours!'},
 {'company': 'Grade Potential Tutoring',
  'metadata': {'city_state': 'San Francisco, CA',
   'company': 'Grade Potential Tutoring',
   'index': 1,
   'salary': '$18 - $30 an hour',
   'summary': 'San Francisco families are in immediate need of part-time tutors for all subjects and grade levels.',
   'title': 'Tutor in San Francisco – All Subjects Available'},
  'salary': '$18 - $30 an hour',
  'summary': 'San Francisco families are in immediate need of part-time tutors for all subjects and grade levels.',
  'title': 'Tutor in San Francisco – All Subjects Available'},
 {'company': 'West Valley Construction',
  'metadata': {'city_state': 'San Francisco, CA',
   'company': 'West Valley Construction',
   'index': 2,
   'salary': '$20 - $24 an hour',
   'summary': 'Valid CA driver’s license and good driving record.The overall purpose of the position is to maintain accurate records on fleet maintenance, Track licensing,…',
   'title': 'Records Clerk- Fleet Maintenance'},
  'salary': '$20 - $24 an hour',
  'summary': 'Valid CA driver’s license and good driving record.The overall purpose of the position is to maintain accurate records on fleet maintenance, Track licensing,…',
  'title': 'Records Clerk- Fleet Maintenance'},
 {'company': 'Farm Fresh to You',
  'metadata': {'city_state': 'San Francisco, CA',
   'company': 'Farm Fresh to You',
   'index': 3,
   'salary': '$20 - $40 an hour',
   'summary': 'Employee discount of 40% off all organic fruits, vegetables & artisan farm products.Working knowledge of our food system, sustainability and environmental…',
   'title': ''},
  'salary': '$20 - $40 an hour',
  'summary': 'Employee discount of 40% off all organic fruits, vegetables & artisan farm products.Working knowledge of our food system, sustainability and environmental…',
  'title': ''},
 {'company': 'Transdev',
  'metadata': {'city_state': 'San Francisco, CA',
   'company': 'Transdev',
   'index': 4,
   'salary': '$23.00 - $26.50 an hour',
   'summary': 'Meets driver requirements, including driving record and criminal history under applicable regulations and laws in the state(s) in which the self-driving vehicle…',
   'title': 'Self Driving Vehicle Operator'},
  'salary': '$23.00 - $26.50 an hour',
  'summary': 'Meets driver requirements, including driving record and criminal history under applicable regulations and laws in the state(s) in which the self-driving vehicle…',
  'title': 'Self Driving Vehicle Operator'},
 {'company': 'SFMOMA',
  'metadata': {'city_state': 'San Francisco, CA',
   'company': 'SFMOMA',
   'index': 5,
   'salary': '$26.06 an hour',
   'summary': 'Reporting to the Curator of Contemporary Art, the Curatorial Assistant supports the research, development and interpretation of the permanent collection,…',
   'title': 'Curatorial Assistant, Contemporary Art'},
  'salary': '$26.06 an hour',
  'summary': 'Reporting to the Curator of Contemporary Art, the Curatorial Assistant supports the research, development and interpretation of the permanent collection,…',
  'title': 'Curatorial Assistant, Contemporary Art'},
 {'company': 'Chipotle',
  'metadata': {'city_state': 'San Francisco, CA',
   'company': 'Chipotle',
   'index': 6,
   'salary': '',
   'summary': 'Free food (yes, really FREE).Tuition assistance (100% coverage for select degrees or up to $5,250/year).Medical, dental, and vision insurance.',
   'title': 'Cashier'},
  'salary': '',
  'summary': 'Free food (yes, really FREE).Tuition assistance (100% coverage for select degrees or up to $5,250/year).Medical, dental, and vision insurance.',
  'title': 'Cashier'},
 {'company': 'AMC Theatres',
  'metadata': {'city_state': 'San Francisco, CA',
   'company': 'AMC Theatres',
   'index': 7,
   'salary': '',
   'summary': 'Ability to effectively multitask as needed, including but not limited to greeting guests, tearing and scanning tickets, checking IDs, directing guests and…',
   'title': 'Crew'},
  'salary': '',
  'summary': 'Ability to effectively multitask as needed, including but not limited to greeting guests, tearing and scanning tickets, checking IDs, directing guests and…',
  'title': 'Crew'},
 {'company': 'San Francisco Art Institute',
  'metadata': {'city_state': 'San Francisco, CA',
   'company': 'San Francisco Art Institute',
   'index': 8,
   'salary': 'From $30 an hour',
   'summary': '4 year college degree required, Bachelor’s degree from an accredited university in finance, accounting, or a related field, and.',
   'title': 'Temporary Accounts Receivable and Student Accounts Cashier'},
  'salary': 'From $30 an hour',
  'summary': '4 year college degree required, Bachelor’s degree from an accredited university in finance, accounting, or a related field, and.',
  'title': 'Temporary Accounts Receivable and Student Accounts Cashier'},
 {'company': 'AT&T',
  'metadata': {'city_state': 'San Francisco, CA',
   'company': 'AT&T',
   'index': 9,
   'salary': '$30.40 an hour ++',
   'summary': 'Possess a state driver’s license.Possess a state driver’s license.(All Milestones must be met while you are in good standing, No COBC violations and or…',
   'title': 'Installation Technician - $5,000 Sign-On Bonus'},
  'salary': '$30.40 an hour ++',
  'summary': 'Possess a state driver’s license.Possess a state driver’s license.(All Milestones must be met while you are in good standing, No COBC violations and or…',
  'title': 'Installation Technician - $5,000 Sign-On Bonus'}]