In [1]:
import pandas as pd
import numpy as np
import psycopg2

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [2]:
# connection credentials
conn = psycopg2.connect(
    user = "postgres",
    password = "0A96jbvaDJk%",
    host = "database-cityspire-c.c2uishzxxikl.us-east-1.rds.amazonaws.com",
    port = "5432",
    database = "postgres"
)

sql = "SELECT * FROM master_jobs_table"

In [3]:
# get dataset from postgresql db
jobs_df = pd.read_sql(sql, conn)
jobs_df.head()

   index  ...                                            summary
0      0  ...  Whether it’s hiring for online work from home,...
1      1  ...  Experience refers to paid and unpaid experienc...
2      2  ...  The base pay for this role is $15.20/hr.Get fu...
3      3  ...  Ensure all customer transactions are processed...
4      4  ...  Operating the cash register in a fun and effic...

[5 rows x 6 columns]

In [15]:
def get_jobs_count(city_state):
  cols = ['index']
  jobs_count = jobs_df.loc[jobs_df['city_state'] == city_state, cols].count()
  return jobs_count

In [16]:
get_jobs_count('San Francisco, CA')

index    1457
dtype: int64

In [21]:
def get_jobs_count_dict(city_state):
  cols = ['index']
  jobs_count = jobs_df.loc[jobs_df['city_state'] == city_state, cols].count().to_dict()
  return jobs_count

In [22]:
get_jobs_count_dict('San Francisco, CA')

{'index': 1457}