In [1]:
import pandas as pd
import numpy as np
import psycopg2

In [3]:
# connection credentials
conn = psycopg2.connect(
    user = "postgres",
    password = "0A96jbvaDJk%",
    host = "database-cityspire-c.c2uishzxxikl.us-east-1.rds.amazonaws.com",
    port = "5432",
    database = "postgres"
)

sql = "SELECT * FROM master_jobs_table"

In [4]:
# get dataset from postgresql db
jobs_df = pd.read_sql(sql, conn)
jobs_df.head()

,index,city_state,title,company,salary,summary
0,0,"Albany, NY",Find jobs with Flexible Hours!,Indeed Gigs,,"Whether it’s hiring for online work from home,..."
1,1,"Albany, NY",Local Hire (Customer Representative - Non-Medi...,US Department of Homeland Security,$16.08 - $18.58 an hour,Experience refers to paid and unpaid experienc...
2,2,"Albany, NY","Amazon Warehouse - Night Shifts, Full-time",Amazon Workforce Staffing,$15.20 an hour,The base pay for this role is $15.20/hr.Get fu...
3,3,"Albany, NY",Bookseller - Part-Time,Barnes & Noble,,Ensure all customer transactions are processed...
4,4,"Albany, NY",Crew,Trader Joe's,$16 - $18 an hour,Operating the cash register in a fun and effic...

In [5]:
jobs_df.shape

(146787, 6)

In [6]:
jobs_df['city_state'].nunique()

109

In [7]:
columns = ["index", "city_state", "title", "company", "salary", "summary"]
jobs_df['metadata'] = jobs_df[columns].to_dict(orient='records')
jobs_df.head()

,index,city_state,title,company,salary,summary,metadata
0,0,"Albany, NY",Find jobs with Flexible Hours!,Indeed Gigs,,"Whether it’s hiring for online work from home,...","{'index': 0, 'city_state': 'Albany, NY', 'titl..."
1,1,"Albany, NY",Local Hire (Customer Representative - Non-Medi...,US Department of Homeland Security,$16.08 - $18.58 an hour,Experience refers to paid and unpaid experienc...,"{'index': 1, 'city_state': 'Albany, NY', 'titl..."
2,2,"Albany, NY","Amazon Warehouse - Night Shifts, Full-time",Amazon Workforce Staffing,$15.20 an hour,The base pay for this role is $15.20/hr.Get fu...,"{'index': 2, 'city_state': 'Albany, NY', 'titl..."
3,3,"Albany, NY",Bookseller - Part-Time,Barnes & Noble,,Ensure all customer transactions are processed...,"{'index': 3, 'city_state': 'Albany, NY', 'titl..."
4,4,"Albany, NY",Crew,Trader Joe's,$16 - $18 an hour,Operating the cash register in a fun and effic...,"{'index': 4, 'city_state': 'Albany, NY', 'titl..."

In [8]:
jobs_df['metadata'].head()

0    {'index': 0, 'city_state': 'Albany, NY', 'titl...
1    {'index': 1, 'city_state': 'Albany, NY', 'titl...
2    {'index': 2, 'city_state': 'Albany, NY', 'titl...
3    {'index': 3, 'city_state': 'Albany, NY', 'titl...
4    {'index': 4, 'city_state': 'Albany, NY', 'titl...
Name: metadata, dtype: object

In [9]:
jobs_df['metadata'][1]

{'index': 1,
 'city_state': 'Albany, NY',
 'title': 'Local Hire (Customer Representative - Non-Medical Vaccine Su...',
 'company': 'US Department of Homeland Security',
 'salary': '$16.08 - $18.58 an hour',
 'summary': 'Experience refers to paid and unpaid experience, including volunteer work done through National Service programs (e.g., Peace Corps, AmeriCorps) and other…'}